<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" package="idv.lzn.screenonauto.tilebuild3" platformBuildVersionCode="35" platformBuildVersionName="15">
    <application/>
</manifest>